<% javascript :defaults %>

<%= error_messages_for :project %>

<% form_for @project do |f| -%>

  <p>
    <%= f.label :name, "Project:" %>
    <%= f.text_field :name %>
  </p>
  
  <p>
    <% f.fields_for :author do |af| %>
      <%= af.label :name, "Author name:" %>
      <%= af.text_field :name %>
    <% end %>
  </p>
  
  <div id="tasks">
    <%#= render :partial => 'task', :collection => @project.tasks, :locals => { :pf => f } %>
    <!-- For the sake of demoing the fields_for which yields each record. -->
    <% f.fields_for :tasks do |tf, task| %>
      <div class="task">
        <p>
          <%= tf.label :name, "Task:" %>
          <%= tf.text_field :name %>
          <%= remove_link_unless_new_record(tf, task) %>
        </p>
      </div>
    <% end %>
  </div>
  <p>
    <%= add_task_link "Add a task", f %>
  </p>
  
  <div id="tags">
    <%#= render :partial => 'task', :collection => @project.tasks, :locals => { :pf => f } %>
    <!-- For the sake of demoing the fields_for which yields each record. -->
    <% f.fields_for :tags do |tf, tag| %>
      <div class="tag">
        <p>
          <%= tf.label :name, "Tag:" %>
          <%= tf.text_field :name %>
          <%= remove_link_unless_new_record(tf, tag) %>
        </p>
      </div>
    <% end %>
  </div>
  <p>
    <%= add_tag_link "Add a tag", f %>
  </p>
  
  <p>
    <%= f.submit "Submit" %>
  </p>
<% end -%>
