<div class="task">
  <p>
    <%= f.label :name, "Task:" %>
    <%= f.text_field :name %>
    
    <%= f.label :raise_exception, "Raise exception:" %>
    <%= f.check_box :raise_exception %>
    
    <!-- Uses JS to hide this `task' and set a hidden_field with the name
         `_delete' to "1" which causes the record to be deleted. -->
    <%= remove_link_unless_new_record(f) %>
  </p>
</div>