<% title "Project" %>

<p>
  <strong>Name:</strong>
  <%=h @project.name %>
</p>

<p>
  <strong>Author:</strong>
  <%=h @project.author.name if @project.author %>
</p>

<h3>Tasks</h3>

<ul>
  <% @project.tasks.each do |task| %>
    <li><%=h task.name %>: <%= task.colors.map(&:name).join(', ') %></li>
  <% end %>
</ul>

<h3>Tags</h3>

<ul>
  <% @project.tags.each do |tag| %>
    <li><%=h tag.name %></li>
  <% end %>
</ul>

<p>
  <%= link_to "Edit", edit_project_path(@project) %> |
  <%= link_to "Destroy", @project, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", projects_path %>
</p>
